%figure
	= link_to(hero_path(portrait)) do
		%span.border
			= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{portrait.slug}.jpg", alt: portrait.name, title: portrait.name
	%figcaption
		= portrait.name

