.jumbotron
	.container
		.row
			.col-md-3
				.hero
					%figure
						%span.border
							= image_tag "http://us.battle.net/heroes/static/images/heroes/busts/#{@hero.slug}.jpg"
			.col-md-9
				%h2= @hero.name
				%h3= @hero.title
