.jumbotron
	.container
		.current
			= render(partial: 'rosters/rotation', object: @current_rotation)

.container
	.row
		- for rotation in @previous_rotations
			.col-md-6
				.previous
					= render(partial: 'rosters/rotation', object: rotation)
				
