// Place all the styles related to the heros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	color: #D6A6FF;
}

.heroes {
	figure {
		width: 10em;
		margin-bottom: 1em;

		figcaption {

			.rotation_count {
				font-style: italic;
				font-size: .7em;
				vertical-align: super;
			}
		}
	}
}

img.icon {
	height: 2em;
}

.portrait {
	text-align: center;
}

.callout {
	//background-color: rgba(0,0,0,.75);
	//border-radius: .5em;
	
	.name {
		font-weight: bold;
		margin-bottom: 0;
	}

	.title {
		margin-top: 0;
		font-style: italic;
	}

	.release_date {
		margin-top: 20px;
	}

	.category {
		margin-top: 0;
		white-space: nowrap;
	}

	.rotation_status {
		margin-top: 0;

		span {
			color: #40D0FF;
		}
	}

	.stats {
		.title {
			margin-top: 0;
			border-bottom: 1px solid #43286B;
			font-style: italic;
		}
	}
}

.history {
	color: #BBB;
}

.pairings {
	.table-striped {
		border: 1px solid #555;

		th, td {
			text-align: center;
			border-right: 1px solid #555;
		}

		th {
			padding: 1em;
		}
	}

	td {
		padding: .25em;

		&:first-child {
			padding-left: 1em;
			border-right: none;
			padding-right: 0;
		}

		&:last-child {
			padding-right: 1em;
		}

		&.hero {
			figure {
				width: 3em;
				margin: 0;
			}
		}

		&.name {
			text-align: left;
			color: #40d0ff;
		}

		&.count {
		}

		&.percentage {
		}
	}
}

