// Place all the styles related to the heros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.icon {
	height: 2em;
}

h2.name {
	font-weight: bold;
	margin-bottom: 0;
}

h3.title {
	margin-top: 0;
	font-style: italic;
}
