// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heroes {
	figure {
		width: 10em;
		
		figcaption {
			.category {
				.icon {
					height: 1.5em;
				}
			}
		}
	}
}

.current, .previous {
	display: inline-block;

	.all, .restricted {
		margin-left: 1em;
	}
}

.previous {
	font-size: .7em;
	color: #bbb;

	.all, .restricted {
		.heroes {
			figure {
				width: 8em;
			}
		}
	}
}

.copyrights {
	color: #bbb;
}

dl {
	margin-left: 3em;
	margin-right: 3em;
	border-top: solid 1px #555;
	border-bottom: solid 1px #555;
	
	dt {
		margin-bottom: 1em;
	}
}

table.heroes {
	margin: auto;
	border: 1px solid #555;

	caption {
		text-align: center;
		font-size: 1.3em;
		font-weight: bold;
	}

	td, th {
		text-align: center;
		border-right: 1px solid #555;
		padding: 1em;
	}

	figure {
		font-size: .7em;
	}
}

