// Place all the styles related to the Rotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dates {
	font-size: 1.3em;
	text-align: center;
	padding-top: 2em;

	a {
		color: #40D0FF;
		text-decoration: none;
		
		&:hover, &:focus {
			color: #D6A6FF;
		}
	}
}

.heroes {
	font-size: 1.3em;
	figure {
		width: 5em;
	
		figcaption {
			font-size: .8em;

			.category {
				.icon {
					height: 1.5em;

					&.multi {
						margin-right: -0.5em;
					}
				}
			}
		}
	}
}

.jumbotron {
	.heroes {
		text-align: center;
	}
}

.rotation {
	padding-top: 1em;
	padding-bottom: 1em;

	.heroes {
		font-size: 1.1em;
	}
}

.categories {
	h3 {
		border-bottom: 1px solid #555;
	}

	.category {
		.icon {
			height: 3em;
		}
	}
}

table.heroes {
	text-align: center;
	//font-size: 1.3em;

	thead {
		th {
			padding: 0 .25em;
		}
	}
	
	tbody {
		td {
			.value {
				font-weight: bold;
			}
			
			.percentage {
				font-size: .7em;
			}
		}
	}
}
